body {   
  backgroung: url(https://phonoteka.org/uploads/posts/2021-04/1619809501_3-phonoteka_org-p-fon-dlya-magazina-igr-3.jpg);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
  background-attachment: fixed;
  font-size: 24px;
}
.g6 {
  width: 90px;
  height: 70px;
}
.g5 {
  width: 200px;
  height: 150px;
}
